ReseauPartage/config/DB_connection.py
*.xml
# Default ignored files
/shelf/

# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/

/.idea/



.idea/dataSources.local.xml


# Ignorer l'entièreté des fichiers/dossiers
/**/*

# Ne PAS ignorer les fichiers Python et autre fichier important
!/config/
!/Controllers/
!/database/
!/FakeData/
!/models/
!/static/
!/templates/
!/views/
!/flask.app/
!/README.md
!/.gitignore