ReseauPartage/config/DB_connection.py
*.xml
# Default ignored files
/shelf/

# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/



.idea/dataSources.local.xml


# Ignorer l'entièreté des fichiers/dossiers
/**/*

# Ne PAS ignorer les fichiers Python et autre fichier important
!/ReseauPartage/Controllers/
!/ReseauPartage/database/
!/ReseauPartage/FakeData/
!/ReseauPartage/models/
!/ReseauPartage/Myconfig/__init__.py
!/ReseauPartage/Myconfig/auth.py
!/ReseauPartage/Myconfig/Hash.py

!/ReseauPartage/static/
!/ReseauPartage/templates/
!/ReseauPartage/views/
!/ReseauPartage/flask.app
!/ReseauPartage/README.md
!/.gitignore
!/ReseauPartage/__init__.py
