<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categorie</title>
    <link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
    <script type="text/javascript" src="../static/MonFichierCode.js"></script>
</head>
<body>
    <button onclick="window.location.href='home.html'">
        Liste des catégories
    </button>
        <button onclick="window.location.href='publier.html'">
        Publier dans une catégorie
    </button>
<h1>
    Categorie X
</h1>


</body>
</html>