<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
    <link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
    <script type="text/javascript" src="../static/MonFichierCode.js"></script>
</head>
<body>
    <button onclick="window.location.href='publier.html'">
        Publier dans une catégorie
    </button>
  <h1>
      Liste des catégories
  </h1>

    <h2>
        Catégories
    </h2>
<p class="left">
    <ul>
        <li> <a href="categorie.html"> Animaux</a> </li>
        <li> <a href="categorie.html"> Arts</a> </li>
        <li> <a href="categorie.html"> Astrologie</a> </li>
        <li> <a href="categorie.html"> Cinéma</a> </li>
        <li> <a href="categorie.html"> Destinations touristiques</a> </li>
        <li> <a href="categorie.html"> Environnement</a> </li>
        <li> <a href="categorie.html"> Marchés boursiers</a> </li>
        <li> <a href="categorie.html"> Nourritures</a> </li>
        <li> <a href="categorie.html"> Politique</a> </li>
        <li> <a href="categorie.html"> Sciences et technologies</a> </li>
        <li> <a href="categorie.html"> Sports</a> </li>
    </ul>



</p>



</body>
</html>