<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>publier</title>
    <script src = "../static/publier.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
</head>
    <button onclick="window.location.href='home.html'">
        Liste des catégories
    </button>
  <h1>
      Publier dans une catégorie
  </h1>

<h2>
    Choisir une catégorie:
</h2>
<form name="list1" id="list1" action="../static/monFichierCode.js">
  <select name="categorie" id="categorie">
    <option value="" selected="selected">choisir catégorie</option>
  </select>
  <br><br>
</form>
<h2>
    Entrez votre message:
</h2>

<body>

    <textarea id="zone-texte" name="zone-text" cols="50" rows="10"
       placeholder = "Écrivez votre message"></textarea>

    <button type="button" onclick="onButtonPublier()"> publier</button>

    <div id="publication">

    </div>

</body>

</html>