<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>publier</title>
    <link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
</head>
    <button onclick="window.location.href='home.html'">
        Liste des catégories
    </button>
  <h1>
      Publier dans une catégorie
  </h1>

<h2>
    Choisir une catégorie:
</h2>
<form name="list1" id="list1" action="/MonFichierCode.js">
  <select name="categorie" id="categorie">
    <option value="" selected="selected">choisir catégorie</option>
  </select>
  <br><br>
</form>
<h2>
    Entrez votre message:
</h2>
<textarea id="zone-texte" name="zone-text" rows="10" cols="50">
</textarea>
<br>
    <input type="submit" value="publier" name="publier">
</br>


<body>

</body>
</html>